
<div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Equipamento em Polipropileno" data-image="../../website/images/Tanque misturador tratamento efluentes.png" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/Tanque misturador tratamento efluentes.png">
        </a>
    </div>
        <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Equipamento em Polipropileno" data-image="../../website/images/tanque-agitador-misturador-em-polipropileno.jpg" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/tanque-agitador-misturador-em-polipropileno.jpg">
        </a>
    </div>
     <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Equipamento em Polipropileno" data-image="../../website/images/tanque-cilindrico-polipropileno.png" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/tanque-cilindrico-polipropileno.png">
        </a>
    </div>
    <div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Equipamento em Polipropileno" data-image="../../website/images/tanque-de-polipropileno-galvanoplastia.jpg" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/tanque-de-polipropileno-galvanoplastia.jpg">
        </a>
    </div>
        <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Equipamento em Polipropileno" data-image="../../website/images/tanque-mistura-polipropileno-tratamento-efluentes.jpg" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/tanque-mistura-polipropileno-tratamento-efluentes.jpg">
        </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Equipamento em Polipropileno" data-image="../../website/images/equipamento_polipropileno_04.jpg" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/equipamento_polipropileno_04.jpg">
        </a>
    </div>
    <div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Equipamento em Polipropileno" data-image="../../website/images/equipamento_polipropileno_05.jpg" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/equipamento_polipropileno_05.jpg">
        </a>
    </div>
</div>

        
