
<div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Controlador Automatico de pH" data-image="../../website/images/controlador-automatico-de-ph.png" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/controlador-automatico-de-ph.png">
        </a>
    </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Controlador Automatico de pH" data-image="../../website/images/controlador-automatico-ph-purewater.jpg" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/controlador-automatico-ph-purewater.jpg">
        </a>
    </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Controlador Automatico de pH" data-image="../../website/images/leitor-remoto-de-ph.png" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/leitor-remoto-de-ph.png">
        </a>
      </div>
</div>

    
