<div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="ETE Compacta" data-image="../../website/images/ete_compacta_01.jpg" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/small/ete_compacta_01.png">
        </a>
    </div>
        <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="ETE Compacta" data-image="../../website/images/ete_compacta_02.jpg" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/small/ete_compacta_02.png">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="ETE Compacta" data-image="../../website/images/ete_compacta_03.jpg" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/small/ete_compacta_03.png">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="ETE Compacta" data-image="../../website/images/ete_compacta_04.jpg" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/small/ete_compacta_04.png">
        </a>
    </div>
</div>
<div class="row">    
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="ETE Compacta" data-image="../../website/images/ete_compacta_05.jpg" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/small/ete_compacta_05.png">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="ETE Compacta" data-image="../../website/images/ete_compacta_06.jpg" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/small/ete_compacta_06.png">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="ETE Compacta" data-image="../../website/images/ete_compacta_07.jpg" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/small/ete_compacta_07.png">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="ETE Compacta" data-image="../../website/images/ete_compacta_08.jpg" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/small/ete_compacta_08.png">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="ETE Compacta" data-image="../../website/images/ete_compacta_09.jpg" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/small/ete_compacta_09.png">
        </a>
    </div>
</div>

