<div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Estação de tratamento de efluentes compacta" data-image="../../website/images/Estação-tratamento-efluentes-compacta_1.jpg" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/Estação-tratamento-efluentes-compacta_1.jpg">
        </a>
    </div>
        <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Estação de tratamento de efluentes compacta" data-image="../../website/images/Estação-tratamento-de-efluentes-compacta_2.jpg" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/Estação-tratamento-de-efluentes-compacta_2.jpg">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Estação de tratamento de efluentes compacta" data-image="../../website/images/Estação-de-tratamento-de-efluentes-compacta_3.JPG" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/Estação-de-tratamento-de-efluentes-compacta_3.JPG">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Estação de tratamento de efluentes compacta" data-image="../../website/images/Estação-de-tratamento-de-efluentes-compacta_4.JPG" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/Estação-de-tratamento-de-efluentes-compacta_4.JPG">
        </a>
    </div>
</div>
<div class="row">    
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Estação de tratamento de efluentes compacta" data-image="../../website/images/Estação-de-tratamento-de-efluentes-compacta_5.jpg" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/Estação-de-tratamento-de-efluentes-compacta_5.jpg">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 ">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Estação de tratamento de efluentes compacta" data-image="../../website/images/Estação-de-tratamento-de-efluentes-compacta_6.JPG" data-target="#image-gallery">
            <img class="img-responsive purewater-thumbnail" src="../../website/images/Estação-de-tratamento-de-efluentes-compacta_6.JPG">
        </a>
    </div>
</div>


