{% capture sessao %} {{ page.url | replace:'/'," " | truncatewords: 1 | remove:'...' | remove:' '}}{% endcapture %}
{% capture sessao1 %} {{ page.url | remove_first:'/' | split:'/' | first}}{% endcapture %}
{% capture sessao2 %} {{ page.url | remove_first:'/' | split:'/' | last}}{% endcapture %}

{% if page.showBreadcrumbs != false %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        {% if sessao1 == sessao2  %}
            <li class="breadcrumb-item active">{{ page.title }}</li>
        {% elsif sessao1 == " produtos" %}
            <li class="breadcrumb-item"><a href="/produtos">Produtos Químicos</a></li>
            <li class="breadcrumb-item active">{{ page.title }}</li>
        {% elsif sessao1 == " equipamentos" %}
            <li class="breadcrumb-item"><a href="/equipamentos">Equipamentos</a></li>
            <li class="breadcrumb-item active">{{ page.title }}</li>
        {% endif %}
    </ol>

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Inicio",
          "item": "{{ site.url }}/"
        }{% if sessao1 == sessao2 %},
        {
          "@type": "ListItem",
          "position": 2,
          "name": "{{ page.title }}",
          "item": "{{ page.url | absolute_url }}"
        }{% elsif sessao1 == " produtos" %},
        {
          "@type": "ListItem",
          "position": 2,
          "name": "Produtos Químicos",
          "item": "{{ site.url }}/produtos/"
        },
        {
          "@type": "ListItem",
          "position": 3,
          "name": "{{ page.title }}",
          "item": "{{ page.url | absolute_url }}"
        }{% elsif sessao1 == " equipamentos" %},
        {
          "@type": "ListItem",
          "position": 2,
          "name": "Equipamentos",
          "item": "{{ site.url }}/equipamentos/"
        },
        {
          "@type": "ListItem",
          "position": 3,
          "name": "{{ page.title }}",
          "item": "{{ page.url | absolute_url }}"
        }{% endif %}
      ]
    }
    </script>
{% endif %}
