 <footer>
  <hr>
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="text-center">Rua: Jupiranga Nº43 - Bairro: Parque Fongaro - São Paulo/SP - CEP: 04257-130</p>
          <p class="text-center"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> +55 11 2946-0309</p>
          <p class="text-center"><a onclick="gtagReportConversionEmailLink()" href="mailto:vendas@purewaterefluentes.com.br">vendas@purewaterefluentes.com.br</a></p>
        </div>
      </div>
  </div>
</footer>
