---
layout: compress
---

<!doctype html>
<html dir="ltr" lang="{{ site.noita.lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  {% include noita/robots.html %}
  {% include noita/meta-description.html %}

  {% for favicon in site.noita.favicons %}
    {% assign size = favicon | split: '-' | last | split: '.' | first %}
    <link rel="icon"
      sizes="{{ size }}x{{ size }}"
      href="{{ favicon }}">
    <link rel="apple-touch-icon"
      sizes="{{ size }}x{{ size }}"
      href="{{ favicon }}">
  {% endfor %}


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/website/app.css">

</head>
<body>

   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.noita.name }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          
        {% if site.noita.topbar.right %}
          <ul class="nav navbar-nav navbar-right">
          {% for item in site.noita.topbar.right %}
            <li>
              <a href="{{ item.url }}" class="{{ item.class }}">{{ item.name }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
        </div><!-- /.nav-collapse -->
      </div>
    </nav>


  {{ content }}

<footer>

<p>
    Rua: Jupiranga, Nº 43 - CEP: 04257-130 - Bairro: Parque Fongaro - Cidade: São Paulo - SP
    <br>
    <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> +55 11 2946-0903
    <br>
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> vendas@purewaterefluentes.com.br
</p>

</footer>

<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
                <h4 class="modal-title" id="image-gallery-title"></h4>
            </div>
            <div class="modal-body">
                <img id="image-gallery-image" class="img-responsive" src="">
            </div>
            <div class="modal-footer">

                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" id="show-previous-image">Anterior</button>
                </div>

                <div class="col-md-8 text-justify" id="image-gallery-caption">
                    This text will be overwritten by jQuery
                </div>

                <div class="col-md-2">
                    <button type="button" id="show-next-image" class="btn btn-default">Próxima</button>
                </div>
            </div>
        </div>
    </div>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- script src="dist/js/bootstrap.min.js"></script -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <!-- script src="assets/js/ie10-viewport-bug-workaround.js"></script -->
  <script src="/website/js/image-gallery.js"></script>
</body>
</html>
