---
layout: compress
---

<!doctype html>
<html dir="ltr" lang="{{ site.purewater.lang }}">
<head>
  {% include purewater/google-analytics.script %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% if page.pageTitle %}
      {{page.pageTitle}}
    {% else %}
      {{ page.title }}
    {% endif %}
  </title>
  {% include purewater/robots.html %}
  {% include purewater/meta-description.html %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/website/theme.css">
  <link rel="stylesheet" href="/website/app.css">

</head>
<body>

   <nav class="navbar navbar-inverse navbar-purewater navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/website/images/logo/favicon purewater 32x32_transparente.png.png" class="logo">
            <img src="/website/images/logo/header_logo.png" class="logo" style="height: 23px; margin-left: -4px; margin-top: 7px;" >
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          
        {% if site.purewater.topbar.right %}
          <ul class="nav navbar-nav navbar-right">
          {% for item in site.purewater.topbar.right %}
            <li>
              <a href="{{ item.url }}" class="{{ item.class }}">{{ item.name }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
        </div><!-- /.nav-collapse -->
      </div>
    </nav>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumbotron-purewater {{ page.header-style }}">
      <div class="container">
        <h1>
          {{ page.title }}
          {% if page.title.small %}
            <small>{{ page.title.small }}</small>
          {% endif %}
        </h1>
        {% if page.subtitle %}
          <p>{{ page.subtitle }}</p>
        {% endif %}
      </div>
    </div>

    <div class="container">
      {% include purewater/alerts.html %}
      {% include purewater/breadcrumbs.html %}
      {{ content }}
    </div>

    {% include purewater/footer.html %}
</div>

{% include purewater/image-modal.html %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- script src="dist/js/bootstrap.min.js"></script -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <!-- script src="assets/js/ie10-viewport-bug-workaround.js"></script -->
  <script src="/website/js/image-gallery.js"></script>
  <script src="/website/js/contato.js"></script>


</body>
</html>
