body {
  padding-top: 45px;
  font-size: 17px;
}

footer {
    margin-top: 20px;
}

.jumbotron-purewater{
  background-color: #3A7AB9;
  /*background-color: #25A2C9; */
  /*background-image: url('border-image: ges/header-bg.jpg');*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;        
}

.jumbotron-purewater.no-jumbotrom{
  display: none;
}

.navbar-purewater {
  background-color: #FFF;
  border-bottom: 2px solid #3F7AB7;
}
.navbar-purewater .navbar-brand,
.navbar-purewater .navbar-nav>li>a {
  color: #3F7AB7;
}

.navbar-purewater .navbar-brand{
    font-weight: normal;
    padding: 0;
}

.navbar-purewater .navbar-brand .logo{
    height: 40px;
    margin-left: 5px;
    margin-top: 2px;
}

.container.logo {
  padding: 40px 0;
}

.navbar-purewater .navbar-nav>li>a {
 font-size: 16px;
}

.navbar-purewater .navbar-brand:hover,
.navbar-purewater .navbar-brand:focus,
.navbar-purewater .navbar-nav > li > a:hover,
.navbar-purewater .navbar-nav > li > a:focus {
    color: #3F7AB7;
    background-color: transparent;
  }

.breadcrumb {
  border: 0;
  background: transparent;
  padding: 8px 0;
  font-size: 12px;
}

.navbar-inverse .navbar-toggle {
    border-color: #b3b3b3;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #b3b3b3;
}


.navbar-inverse .navbar-toggle:hover {
    border-color: #3F7AB7;
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
    background-color: #3F7AB7;
}

.purewater-thumbnail {
    max-height: 200px;
    max-width: 200px;
}