body {
  padding-top: 45px;
}

footer {
    margin-top: 20px;
}

.jumbotron-purewater{
  background-image: url('images/header-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;        
}

.navbar-purewater {
  background-color: #FFF;
  border-bottom: 2px solid #3F7AB7;
}
.navbar-purewater .navbar-brand,
.navbar-purewater .navbar-nav>li>a {
  color: #3F7AB7;
}

.navbar-purewater .navbar-brand{
    font-weight: normal;
}

.navbar-purewater .navbar-nav>li>a {
 font-size: 16px;
}

.navbar-purewater .navbar-brand:hover,
.navbar-purewater .navbar-brand:focus,
.navbar-purewater .navbar-nav > li > a:hover,
.navbar-purewater .navbar-nav > li > a:focus {
    color: #3F7AB7;
    background-color: transparent;
  }